<div>
    <div>
        <h3>CURSO</h3>
        <div>
            <ul>
                <li>{{learning.id}}</li>
                <li>{{learning.name}}</li>
            </ul>
        </div>
    </div>
    <div>
        <h3>ESTUDIANTES</h3>
        <table>
            <thead>
                <th>ID</th>
                <th>CEDULA</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
            </thead>
            <tbody>
                @for (item of learning.student; track $index) {
                    <tr>
                        <td>{{item.id}} </td>
                        <td>{{item.identification}} </td>
                        <td>{{item.name}} </td>
                        <td>{{item.surname}} </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    

</div>

